.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Shere Style */

.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}

.btn-primary {
  background-color: #fd6e0a;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
}


/* header imges */

.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* Nav Styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}

.nav-title {
  font-weight: 800;
  font-style: 60px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav li a {
  text-decoration: none;
}

/* banner styles */

.banner-greetings {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: -40px;
}

.banner-description {
  font-size: 18px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 30px;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}

.banner-Contant {
  max-width: 580px;
  margin-top: 80px;
}

.banner-title {
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 35px;
}

.banner-profile-pic {
  width: 580px;
}


/* main section 2 */


/* main styles */

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* main section  */

.section-title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
  color: #181818;
}
.section-description {
  font-size: 18px;
  color: #757575;
  text-align: center;
}
.secondary-bg {
  background-color: #fff8f3;
}


/* about */

.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin:80px ;
}
.abot-items{
  display: flex;
  justify-content: space-around;
  
}
.item-title{
  color:#757575;
  font-size: 15px;
  margin-top: 15px;
}
.item-description{
  color: #474747;
  font-weight: bold;
  font-size:15px;
  margin-top: -10px;

}
